body {
	background-color: lightgray;
    font-family: sans-serif;
}

#strona {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    padding-right: 0;
}

header {
	text-align: center;
	font-size: 4em;
	color: #3d3d3d;
}

a {
	text-decoration: none;
	color: #3d3d3d;
}

#menu {
	background-color: #3d3d3d;
	border-radius: 10px;
	text-align: center;
	font-size: 1.2em;
}

nav ul{
	text-decoration: none;
	list-style-type: none;
	padding-inline-start: 15px;
}

nav li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	padding: 15px;
}

nav a {
	text-decoration: none;
	color: white;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}	

#pod {
	position: absolute;
	display: none;
	background: #3d3d3d;
	font-size: 0.9em;
	padding: 10px;
	border-radius: 10px;
	margin-left: -20px;
}

#czytelnik:hover #pod {
	display: block;
}

#ksiazka:hover #pod {
	display: block;
}

#artykuly {
	width: 100%;
	text-align: left;
	display: inline-block;
	
}

h2 {
	color: #3d3d3d;
	text-align: center;
}

form {
	padding-left: 25px;
}

table {
	text-align: center;
	border-collapse: collapse;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #3d3d3d
}

th {
  background-color: #3d3d3d;
  color: white;
}

#artykuly p {
	text-align: left;
	margin-left: 20px;
	margin-bottom: 0px;
}

h1 {
	text-align: center;
	color: #3d3d3d;
	font-size: 4em;
}

#art1 {
	display: inline-block;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	color: #3d3d3d;
	vertical-align: top;
}

#art {
	display: inline-block;
	width: 20%;
	background-color: white;
	border-radius: 10px;
	color: #3d3d3d;
	vertical-align: top;
}

#artindex{
	display: inline-block;
	width: 50%;
	background-color: white;
	border-radius: 10px;
	color: #3d3d3d;
	vertical-align: top;
}

#artt {
	display: inline-block;
	width: 60%;
	background-color: white;
	border-radius: 10px;
	color: #3d3d3d;
	vertical-align: top;
}

#logos {
	text-align: center;
	margin-bottom: 5px;
}

#art2 {
	display: inline-block;
	width: 79%;
	background-color: white;
	border-radius: 10px;
	color: #3d3d3d;
	vertical-align: top;
}

#art2png {
	display: inline-block;
	width: 49%;
	background-color: white;
	border-radius: 10px;
	color: #3d3d3d;
	vertical-align: top;
}

#artt2 {
	display: inline-block;
	width: 39%;
	background-color: white;
	border-radius: 10px;
	color: #3d3d3d;
	vertical-align: top;
}

#obraz {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	height: auto;
}

#tekst {
	color: #3d3d3d;
	font-weight: bold;
}

#ull {
	margin-top: 5px;
	margin-bottom: 5px;
}

@media all and (max-width: 301px) {
    header {
		text-align: center;
	}

	
	#art, #art2 {
		display: inline-block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
    }
}

@media all and (min-width: 301px) and (max-width: 599px){
	header {
		text-align: center;
	}
	
    #art1 {
		display: inline-block;
		width: 100%;
    }
}